body {
    background:hsl(225, 100%, 94%) ;
    background-image: url("../images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px; 
    margin: 0 auto; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.text {
    background: white;
    font-family: 'Red Hat Display', sans-serif;
}